
  #left-container{
    padding: 0rem;
    background-color: #f9fafb;
    height: 100%;
    position: relative;
    /*box-shadow: 0 0 10px #d8d3d3;*/
    padding-bottom: 1rem;
  }

  #left-container .container-fluid{
     padding: 0rem;
  }

#left-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
  }
#left-container center {
  display: inline-block;
  }


.rounded-corners {
  border-radius: 10px;
  text-align: left;
  border-bottom: 1px #ccc solid;
  padding: .5rem 1rem;
  margin-top: 1rem;
}

.row-container{
  position: sticky;
  top: 66px;
  z-index: 5;
  background: #fff;
}