.pt-3{
    height: 100vh !important;
    background-image: url("./images/riddleLogin.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.container-wrapper{
    background-color: #ffff;
    width:fit-content;
    margin: auto;
}
@media (min-width: 992px) { 
    .p-5{
      width: 30vw;
    }
}
#go-back{
  margin-top: 0.2rem;
}